@import "./colors.scss";
@import "./const.scss";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Source+Sans+Pro:wght@400;600&display=swap");

body {
    min-height: 100vh;
    margin: 0;

    font-size: 14px;
    font-family: Source Sans Pro, Avenir, Helvetica, Arial, sans-serif;

    background-color: var(--background-color);

    a {
        text-decoration: none;
    }
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
